<% if model.errors.any? %>
  <div class="container">
    <% model.errors.full_messages.each do |message| %>
      <div class="alert alert-warning w-xl-25 text-center"><%= message %></div>
    <% end %>
  </div>
<% end %>